// .radio-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.radio-group-om {
  display: flex;
  align-items: center;

  .radio-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      + .radio-label-om {
        border-color: $secondaryColor;
        background-image: url(../images/check.svg);
      }
    }
  }

  .radio-label-om {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #86959f;
    background-position: center center;
    background-size: 10px;
    background-repeat: no-repeat;
  }

  .text_ {
    margin: 0;
    font-size: 15px;
    margin-inline-start: 5px;
    cursor: pointer;
    color: $headingMainColor;
  }
}



/////////////////////////////////////////////////

.customer_evaluation_icon_wrapper {
  .rating-group {
    display: inline-flex;
    gap: 8px;
    margin: 0;
    margin-inline-end: 35px;
  }

  .rating__icon {
    pointer-events: none;
  }

  .rating__input {
    // position: absolute !important;
    // left: -9999px !important;
    display: none;
  }

  .rating__input--none {
    display: none;
  }

  .rating__label {
    cursor: pointer;
    font-size: 24px;
  }

  .rating__icon--star {
    color: orange;
  }

  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
}
