// main colors
$primaryColor: #BED644;
$secondaryColor: #0E9096;
$borderColor: #d9e0e5;
$secondBorderColor: #BBBBBB;
$mainRedColor: #f54748;
$redColor: #f54748;
$greyColor: #868686;
$yellowColor: #F2B21A;
$shadowColor: rgba(#5D5D5D, 0.05);
$secondShadowColor: rgba(#000, 0.3);
$primaryColorHover: rgba($primaryColor, 0.9);
$secondaryColorHover: rgba($secondaryColor, 0.9);
$inputBackgroundColor: #f6f6f6;
$ratingIconBackground: #cbcbcb;
$secondRedColor: #E2114A;

// head colors
$headingMainColor: #3F4653;
$headingSecondaryColor: #333743;
$headingThirdColor: #2a2929;
$headingFourthColor: #737373;

//parag Colors
$paragraphMainColor: #6B6B6B;
$paragraphSecondaryColor: #767676;
$paragraphThirdColor: #3F4653;
$paragraphFourthColor: #9E9E9E;

$mainSectionTitleBackground: rgba(#3F4653 , 0.06);

//brand Colors
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;

$borderColor: #EAEAEA;
$borderBreakColor: #3F4653;

//border radius
$mainBorderRadius: 18px;
$secondaryBorderRadius: 20px;

$mainBackgroundColor: #F3F3F3;

$dir: "ltr";
